:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: -4px; 
    margin-right: -4px; 
} */

.dashboard-left-right, .dashboard-classes, .dashboard-upcoming-events {
    background-color: #fffffe;
    padding: 10px;
    color: #2B2C34;
    border-radius: 4px;
    text-align: center;
    margin: 10px 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.dashboard-left-right {
    max-width: 350px;
    max-height: 100vh;
}

.dashboard-classes {
    min-width: 400px;
    min-height: 90%;
    max-height: 100%;
}

.dashboard-upcoming-events {
    max-height: 40vh;
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 30vh;
}
  
.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 8;
    /* padding-top: 10px; */
    /* width: calc(50% - 20px); Adjust width to fit two cards per row */
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
}
  
.event-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2;
}
  
.h3 {
    margin: 0 0 10px 0;
}
