.dashboard-upcoming-events {
    background-color: #fffffe;
    padding: 10px;
    color: #2B2C34;
    border-radius: 20px;
    text-align: center;
    min-width: 400px;
    min-height: 100%;
    max-height: 'flex';
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}