.bar {
  background-color: #6246EA;
  padding: 15px;
}

.bar ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bar li {
  float: left;
  align-items: 'center';
  font-weight: lighter;
}

.bar li a {
  padding-inline: 20px;
  color: #fffffe;
  text-decoration: none;
}

.bar li a:hover {
  color: #d1d1e9;
}

.toggle-btn{
  display:none;
}

.dropdown-menu{
  display:none;
  position:absolute !important;
  z-index:100;
  left: 1rem;
  top: 3rem;
  width: 200px;
  background:#fffffe;
  border-radius: 10px;
  overflow:hidden;
}
.dropdown-menu li {
  padding:6px;
  display: flex;
}
.dropdown-menu li a{
  text-decoration: none;
  color: #2b2c34;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:600px){
  .bar{
    display: none;
  }
  
  .toggle-btn{
    display:flex;
    background-color: #6246EA;
  }
  .dropdown-menu{
    display:block;
  }
}